/* sass not working right now. that sucks but whatever. 
bigger fish to fry.

I guess I'm trying to follow BEM here.*/


.graph-box {
	--accent-color: steelblue;
	color: var(--accent-color);
}

.graph-box__actions {
	display: flex;
	flex: row nowrap;
	justify-content: space-between;
	margin: 0px 10px;
	max-height: 10vh;
}

.graph-box__actions div:not(:last-child) {
	margin-right: 10px;
}

.graph-box__actions-search {
	display: flex;
	flex: row nowrap;
	justify-content: flex-start;
	flex: 0 1 80%;
}

.graph-box__actions-search input {
	flex: 0 1 100%;
	margin-right: 10px;

	background-color: black;
	border-color: var(--accent-color);
	color: var(--accent-color);
	font-weight: 500;
}

.graph-box__actions-search input:focus {
	outline:2px solid rgba(128, 128, 128, .5);
	box-shadow: 0px 0px 5px white;
}

.graph-box__actions .btn {
	width: 125px;
	padding: 5px;

	font-weight: 500;
	border: 1px solid var(--accent-color);
	border-radius: 5px;

	cursor: pointer;
}

.graph-box__d3-container {
	margin: 10px;
	border: 1px solid var(--accent-color);
	border-radius: 5px;

	height: 70vh;
	position: relative;

	overflow: hidden;
}

.graph-box__d3-container .graph-box__no-data {
	font-size: 50px;
	position: absolute;
	width: 100%;
	top: 25%;
}

/* Rules for node & node text. */
.graph-box__d3-container .d3-node-text,
.graph-box__d3-container .d3-link-text {
	fill: white;
	stroke: var(--accent-color);
	stroke-width: 1px;
	stroke-opacity: .5;
	transition: font-size .5s ease-in-out;
	font-size: 0px;
	z-index: 10;
}

.graph-box__d3-container .d3-node-group circle {
	transition: r .5s ease-in-out;
}
.graph-box__d3-container .d3-node-group text {
	transition: font-size .5s ease-in-out;
}

/* if node group is hovered, or this is a 'connected' node. */
.graph-box__d3-container .d3-node-group:hover .d3-node-text,
.graph-box__d3-container .d3-node-group .d3-connected-node + .d3-node-text {
	fill: white;
	stroke: var(--accent-color);
	stroke-width: 1px;
	stroke-opacity: .5;
	transition: font-size .5s ease-in-out;
	font-size: 18px;
}

.graph-box__d3-container .d3-node-group .d3-connected-node {
	r: 10;
	transition: r .5s ease-in-out;
}

/* Rules for link class on selection. */

.graph-box__d3-container .d3-link-group line {
	stroke-width: 2px;
}

@keyframes changeLinkColor {
	from {
		/*high sat medium lightness blue*/
		stroke: #45bed9;
	}
	to {
		/*aquamarine*/
		stroke: #7FFFD4;
	}
}

.graph-box__d3-container .d3-link-group line.d3-connected-link {
	/* stroke: aquamarine; */
	stroke-width: 4px;

	/* cute animation to highlight nodes, but hides relation color*/
	/*animation-duration: 3s;
	animation-name: changeLinkColor;
	animation-iteration-count: infinite;
	animation-direction: alternate; */
}

.graph-box__d3-container .d3-link-group text {
	transition: font-size .5s ease-in-out;
	font-size: 0px;
}

.graph-box__d3-container .d3-link-group:hover text {
	fill: white;
	stroke: var(--accent-color);
	stroke-width: 1px;
	stroke-opacity: .5;
	transition: font-size .5s ease-in-out;
	font-size: 18px;
}